.about-container{
    padding-top: 10vh;
    padding-bottom: 30vh;
    height: auto;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-title{
    font-size: 3rem;
    color: var(--fourth-color);
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.about-info{
    width: 80%;
    text-align: justify;
    color: var(--fourth-color);
    font-size: 1.4rem;
    padding: 20px;
    line-height: 1.5;


}

.my-skills {
    font-size: 1rem;
    color: var(--fifth-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive columns */
    text-align: center;
    max-width: 60%;         
    gap: 10px;  
    margin-top: 40px;
}


.skill{
    background-color: rgba(19, 19, 19);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.055);
}

.skill:hover{
    background-color: rgba(19, 19, 19);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    scale: 1.01;
}

.skill-image > img{
    width: 40px;
    height: 40px;
}

.skill-name{
    color: var(--fourth-color);
    font-size: 0.8rem;
    padding: 10px 0px;
}

@media screen and (max-width: 768px){
    .my-skills{
        max-width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Responsive columns */
        gap: 10px;
        font-size: 0.8rem;
    }

    .about-info{
        width: 90%;
        font-size: 1rem;
    }





    
    
}